:root {
  --primary: #f4e7e0;
  --secondary: #966467;
  --seconadry-hover: #af767a;
  --white: #ffffff;
  --black: #000000;
}

* {
  font-family: "Roboto", sans-serif;
}

.main-background {
  background-color: var(--primary);
  height: 100%;
}

.main-logo {
  color: var(--secondary);
  font-size: 4rem;
  font-family: "Cormorant SC", serif;
}

.submit-btn {
  background-color: var(--secondary);
  color: var(--white);
  border: none;
}

.submit-btn:hover {
  background-color: var(--seconadry-hover);
}

.navbartext {
  color: var(--black);
}

.navbarlink:hover {
  color: var(--secondary);
}

.custom-input {
  width: 50%;
}

@media (max-width: 768px) {
  .main-logo {
    font-size: 2rem;
  }
  .custom-input {
    width: 100%;
  }
}
